// Mixins in here

.btn {
    background-color: darken(@button-bg,13%);
    border-radius: 10px;
    width: 83%;
    height: 40px;
    font-size: 2rem;
    color: @white;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
}